@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  background-color: #dae0e6;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0px;
}

nav,
article,
div {
  background-color: #ffffff;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* NAVBAR */
nav {
  position: sticky;
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #edeff1;
  z-index: 1000;
}

.spacer {
  background-color: #dae0e6;
  height: 48px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

h2.reddit-header {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

/* DROPDOWNS */
button.dropdown {
  margin: auto 0.5rem;
  /* border is temporary,
  I need to see the box model
  */
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 3px;
}

.dropdown-home {
  width: 270px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

.dropdown-user {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ICONS */
.px16 {
  display: inline-block;
  height: 16px;
  font-size: 1rem;
  color: #878a8c;
}

.px24 {
  display: inline-block;
  height: 24px;
  font-size: 1.5rem;
  color: #878a8c;
  margin: auto 0.5rem;
}

.px32 {
  display: inline-block;
  height: 32px;
  font-size: 2rem;
  color: rgba(255, 68, 0, 1);
  margin: auto 0.5rem;
}

.px42 {
  display: inline-block;
  height: 42px;
  font-size: 2.5rem;
  color: #dae0e6;
  margin: 0.5rem; */
}

/* MAIN CONTENT SECTION */

.container {
  background-color: #dae0e6;
  width: 976px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

main {
  width: 638px;
}

main > div,
main > article {
  margin-bottom: 1rem;
}

/* CARD */

.card {
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: flex;
}

.card-post {
  cursor: pointer;
}

/* CARD: LEFT BAR */

.card-left {
  border-radius: 5px;
  background-color: #f8f9fa;
  width: 40px;
  padding-top: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-left > .fa-arrow-down, .card-left > .fa-arrow-up {
  color: #878a8c;
  display: block;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 3px;
}

.card-left > .fa-arrow-up:hover, .card-left > .fa-arrow-down:hover {
  cursor: pointer;
  background-color: #e1e2e3;
}

.card-left > .fa-arrow-up:hover {
  color: #cc3700;
}


.card-left > .fa-arrow-down:hover {
  color: #5a75cc;
}

.card-left > .upvotes {
  font-size: 0.8rem;
  font-weight: bold;
}

/* CARD: CONTENT */

.card-content {
  border-radius: 5px;
  flex-grow: 1;
}

.card-content-header {
  border-radius: 5px;
  padding: 0.5rem;
  color: #888888;
  font-weight: 300;
}

.post-subreddit {
  font-weight: bold;
  color: #000000;
}

.post-image {
  display: block;
  max-height: 512px;
  max-width: 420px;
  margin: 0 auto;
}

.post-byline {
  font-size: 0.8rem;
}

h3.post-title {
  font-weight: 500;
  color: #000000;
  margin: 0.5rem 0 0 0;
}

.card-content-footer {
  border-radius: 5px;
  color: #888888;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.25rem;
  display: flex;
  justify-content: flex-start;
}

.footer-action-block {
  padding: 0.25rem;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.footer-action-block > * {
  margin: 0.1rem;
  background-color: inherit;
}

.footer-action-block:hover {
  background-color: #e7e7e7;
  text-decoration: none;
}

/* SIDEBAR */
section.sidebar {
  width: 310px;
}

section.sidebar > div {
  margin-bottom: 1rem;
}

.card-sidebar {
  border-radius: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.sidebar-w-100 {
  padding: 0.5rem 1rem;
  width: calc(310 - 1rem);
  position: relative;
  display: flex;
  align-items: center;
}

.sidebar-photo-header {
  background-color: #0079d3;
  color: #ffffff;
  border-radius: 5px 5px 0px 0px;
  height: 4rem;
  display: flex;
  align-items: flex-end;
}

.sidebar-photo-header h4 {
  font-weight: 400;
  margin: 0px;
}


/* SIDEBAR: COMMUNITY LISTS */
.community-rank, .community-name {
  font-size: 0.9rem;
  font-weight: 500;
}

/* CREATE POST */
.create-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FORM INPUTS */

input[type="text"] {
  padding: 0.5rem 1.2rem;
  background-color: #f6f7f8;
  border: 1px solid #edeff1;
  border-radius: 3px;
  font-family: "IBM Plex Sans", sans-serif;
}

/* BUTTONS */
.button-container {
  width: 106px;
}

.button-container-large {
  width: 286px;
}

button.btn {
  padding: 0.5rem;
  border: 0px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  width: 100%;
}

.btn-primary {
  background-color: rgba(0, 121, 211, 1);
  color: #ffffff;
}

.btn-secondary {
  background-color: rgba(255, 68, 0, 1);
  color: #ffffff;
}

.btn-primary-outline {
  border: 1px solid rgba(0, 121, 211, 1);
  background-color: #ffffff;
  color: rgba(0, 121, 211, 1);
}

.btn-pill {
  background-color: #f6f7f8;
  color: rgba(0, 121, 211, 1);
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

/* UTILITIES */
.flex-grow-1 {
  flex-grow: 1;
}

.border-bottom-gray {
  border-bottom: 1px solid #edeff1;
}

.rounded-top {
  border-radius: 5px 5px 0px 0px;
}

.rounded-bottom {
  border-radius: 0px 0px 5px 5px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.ml-3 {
  margin-left: 1rem;
}
