/* BUTTONS */
.button-container {
  width: 106px;
}

.button-container-large {
  width: 286px;
}

.btn {
  padding: 0.5rem;
  border: 0px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  width: 100%;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  background-color: rgba(0, 121, 211, 1);
  color: #ffffff;
}

.btn-secondary {
  background-color: rgba(255, 68, 0, 1);
  color: #ffffff;
}

.btn-primary-outline {
  border: 1px solid rgba(0, 121, 211, 1);
  background-color: #ffffff;
  color: rgba(0, 121, 211, 1);
}

.btn-pill {
  background-color: #f6f7f8;
  color: rgba(0, 121, 211, 1);
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

/* BUTTONS THAT WORK AS TABS */
.btn-tab {
  background-color: #ffffff;
  color: #878a8c;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  width: auto;
}

.btn-tab.active {
  background-color: #f6f7f8;
  color: rgba(0, 121, 211, 1);
}

.btn-tab > i.fas {
  margin: 0 0.5rem 0 0;
}

.btn-tab > i.fas.fa-ellipsis-h {
  margin: 0;
}

.btn-tab:hover {
  background-color: #e5e6e7;
  cursor: pointer;
}

.btn-tab:focus {
  outline: none;
}

/* FREE COINS! */
#btn-free-coins {
  display: flex;
  background: linear-gradient(0deg, #ffea55 0 50%, #ffe425 50% 100%);
  box-shadow: 0px 2px #eed000;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  align-items: center;
  padding: 0.5rem 1rem;
}

#btn-free-coins:hover {
  background: none;
  background-color: #ddbd37;
  cursor: pointer;
}

.coin {
  font-family: "Quicksand", sans-serif;
  line-height: 1rem;
  background-color: #ddbd37;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-left: -5px;
  margin-right: 0.25rem;
  color: #ffffff;
}
