/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

/* COMPONENTS AND UTILITIES */
@import "./button.css";
@import "./card.css";
@import "./dropdown.css";
@import "./icons.css";
@import "./navbar.css";
@import "./sidebar.css";
@import "./utilities.css";
@import "./colors.css";

body {
  background-color: #dae0e6;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0px;
}

nav,
article,
div {
  background-color: #ffffff;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* MAIN CONTENT SECTION */

.container {
  background-color: #dae0e6;
  max-width: 976px;
  margin: 1rem auto;
  display: flex;

  justify-content: space-between;
}

main {
  width: 638px;
}

@media (max-width: 1024px) {
  .d-none-1024 {
    display: none;
  }
  main {
    width: 100%;
  }
}

main > div,
main > article {
  margin-bottom: 1rem;
}

/* FORM INPUTS */

input[type="text"] {
  padding: 0.5rem 1.2rem;
  background-color: #f6f7f8;
  border: 1px solid #edeff1;
  border-radius: 5px;
  font-family: "IBM Plex Sans", sans-serif;
}

input[type="text"]:hover {
  background-color: #ffffff;
  border: 1px solid #0079d3;
}

input[type="text"]:focus {
  background-color: #ffffff;
  border: 1px solid #0079d3;
  outline: none;
}
