/* NAVBAR */
nav {
  position: sticky;
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #edeff1;
  z-index: 1000;
}

.spacer {
  background-color: #dae0e6;
  height: 48px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

h2.reddit-header {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.search {
  padding-left: 0.5rem;
  background-color: #f6f7f8;
  border: 1px solid #edeff1;
  border-radius: 5px;
  flex-grow: 1;
  margin-left: 1rem;
}

.search:hover {
  background-color: #ffffff;
  border: 1px solid #0079d3;
}

.search > input[type="text"] {
  padding: 0.5rem 0px;
  border: 0px;
  margin-left: 0.5rem;
}

.search > input[type="text"]:hover {
  background-color: inherit;
  border: 0px;
}

.search > input[type="text"]:focus {
  background-color: inherit;
  border: 0px;
  outline: none;
}

/* NAVBAR ICONS */

.navbar-icon {
  display: block;
  height: 16px;
  font-size: 1rem;
  color: #000000;
  margin: auto 0.25rem;
  padding: 0.5rem;
  border-radius: 3px;
}

.navbar-icon:hover {
  background-color: #e7e8e8;
  cursor: pointer;
}
