/* NAVBAR */
nav {
  position: sticky;
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #edeff1;
  z-index: 1000;
}

.spacer {
  background-color: #dae0e6;
  height: 48px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

h2.reddit-header {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

/* NAVBAR ICONS */

.navbar-icon {
  display: block;
  height: 16px;
  font-size: 1rem;
  color: #000000;
  margin: auto 0.25rem;
  padding: 0.5rem;
  border-radius: 3px;
}

.navbar-icon:hover {
  background-color: #e7e8e8;
  cursor: pointer;
}
