/* UTILITIES */

.border-right-gray {
  border-right: 1px solid #edeff1;
}

.border-bottom-gray {
  border-bottom: 1px solid #edeff1;
}

.rounded-top {
  border-radius: 5px 5px 0px 0px;
}

.rounded-bottom {
  border-radius: 0px 0px 5px 5px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.ml-3 {
  margin-left: 1rem;
}

.mr-r {
  margin-right: 0.5rem;
}

.mx-2 {
  margin: auto 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-3 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.small {
  font-size: 0.8rem;
}

.small-300 {
  font-size: 0.8rem;
  font-weight: 300;
}

.small-500 {
  font-size: 0.8rem;
  font-weight: 500;
}
